<mat-progress-spinner *ngIf="loading"
    mode="indeterminate">
</mat-progress-spinner>
<div *ngIf="!loading">
  <mat-list>
    <mat-list-item *ngFor="let question of questions" [routerLink]="['questions', question._id]">
      <i *ngIf="question.icon === 'none'" mat-list-icon class="material-icons help">help</i>
      <i *ngIf="question.icon !== 'none'" mat-list-icon class="{{ question.icon }}"></i>
      <h4 mat-line>{{ question.title }}</h4>
      <p mat-line>
        <small>{{ question.answers.length }} respuestas - {{ question.createdAt | amLocale:'es' | amTimeAgo }}</small>
      </p>
    </mat-list-item>
  </mat-list>
  <button mat-fab class="add-question" color="accent" [routerLink]="['/questions/new']"><mat-icon>add</mat-icon></button>
</div>
