<mat-toolbar color="primary">
  <span [routerLink]="['/']">PlatziOverflow</span>
  <span class="space"></span>


  <button mat-icon-button [routerLink]="['/signin']" *ngIf="!isLoggedIn()">
    <mat-icon>account_circle</mat-icon>
  </button>

  <div *ngIf="isLoggedIn()">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>account_circle</mat-icon>
        <span>{{ fullName() }}</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </div>

</mat-toolbar>

<router-outlet></router-outlet>
