<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
  <mat-input-container>
    <input
      matInput
      placeholder="Correo electrónico"
      formControlName="email"
      id="email">
  </mat-input-container>
  <mat-input-container>
    <input
      type="password"
      matInput
      placeholder="Contraseña"
      formControlName="password"
      id="password">
  </mat-input-container>
  <button type="submit" mat-raised-button color="accent">Iniciar sesión</button>
  <p style="text-align: center;">
    ¿Eres nuevo?
    <a mat-button color="primary" [routerLink]="['/signup']">Crear usuario</a>
  </p>
</form>
