<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <mat-input-container>
    <input
      matInput
      placeholder="Nombres"
      formControlName="firstName"
      id="firstName">
  </mat-input-container>
  <mat-input-container>
    <input
      matInput
      placeholder="Apellidos"
      formControlName="lastName"
      id="lastName">
  </mat-input-container>
  <mat-input-container>
    <input
      matInput
      placeholder="Correo electrónico"
      formControlName="email"
      id="email">
  </mat-input-container>
  <mat-input-container>
    <input
      type="password"
      matInput
      placeholder="Contraseña"
      formControlName="password"
      id="password">
  </mat-input-container>
  <button type="submit" mat-raised-button color="accent">Registrarse</button>
  <p style="text-align: center;">
    Ya tengo una cuenta
    <a mat-button color="primary" [routerLink]="['/signin']">Iniciar sesión</a>
  </p>
</form>
