/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: 'Roboto';
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 40px auto;
  margin-top: 20px;
}
